/* Basic layout */
* { overflow-wrap: anywhere; }
html, body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
body { overflow-y: auto; }
/* End Basic layout */

/* Text */
body { font-family: 'Lato', sans-serif; }
.title { font-family: 'Poppins', sans-serif; }
/* End Text */

/* Background color */
html, body { background-color: #f5f5f5; }
/* End Background color */

/* Background image */
.bg-cover { background-size: cover; }
.bg-center { background-position: center; }
.bg-norepeat { background-repeat: no-repeat; }
/* End Background image */
